.text {
    color: #333333;
    font-family: arial;
    max-width: 1650px;
    margin: 300 auto;
    padding: 0 16px;
    font-weight: bold;
    font-size: x-large;
    display: flex;
    text-align: center;
    flex-direction: column;
    min-height: 100vh
}
a{
    text-align: center;
    font-family: arial;
    max-width: 1650px;
    margin: 300 auto;
    padding: 0 16px;
    font-weight: bold;
    position: relative;
    left : 550px;
    top: 140px;
    color: #888888;

    text-decoration: none;
}